/* GLOBAL RESET*/
* {box-sizing: border-box;}

/*COLORS*/
$yellow: #FFB600;
$red: #FF4713;
$black: #0F0F0F;

/*FONTS*/
$headers: century-gothic, sans-serif;
$body: ballinger, sans-serif;

/*IMPORTS*/
@import "partials/toc";
@import "partials/layout";
@import "partials/type";
@import "partials/images";
@import "partials/buttons";
@import "partials/fadeins";
@import "partials/helpers";
