/*BODY*/

body {
    margin: 50px;
    background-color: $black;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;
    font-size: 109%;
    line-height: 1.5em;
    display: grid;
    grid-template-rows: auto1fr auto;
}

/*HEADER & FOOTER*/

.site-header,
.site-footer {
  font-family: gaultier-lights, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 0;
  letter-spacing: 0.15em;
}


/*SITE-ID*/

.site-id {
    padding-top: 3em;
    padding-bottom: .5em;
  }

/*SITE-NAV*/

.site-navigation ul {
    margin: 0;
    padding: 1em 0;
    font-size: 1.2em;
  }
  
  .site-navigation a {
    display: block;
    padding: .25em .5em;
  }
  
  .site-navigation li {
    margin: 0 .5em;
    padding: 0;
    display: inline-block;
  }

/*SITE-MAIN*/

.site-main {
  margin: 20px auto;
}

/*SECTION*/

section {
    padding: 0 0 3em 0;
  }


/* HERO SECTIONS */
.hero {
    padding: 2em 0;
    /* background: #dedede; */
    margin-bottom: 3em;
}

  /*THUMB GRID*/
  
  .thumbgrid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }
  
  .thumbgrid li {
    list-style: none;
    width: 49.5%;
    padding-bottom: 0.4%;
  }
  
  @media (min-width: 768px) {
    .thumbgrid li {
      width: 49%;
    }
  }
  
  .thumbgrid a img {
      filter: brightness(1.05);
      transition: all ease-in-out 0.2s;
      border: 1px solid rgba(255,255,255,0);
  }
  
  .thumb-container {
    position: relative;
    width: 100%;
  }
  
  .thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #0000006e;
  }
  
  .thumb-container:hover .overlay {
    opacity: 1;
  }

  .thumb-text {
    color: $black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* #LAYOUT: FLEX GRID */
@media (min-width: 768px) {
    
    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .one-third.column {
        width: 32%;
    }
    .two-thirds.column {
        width: 60%;
    }
    
}