/*COLORS*/

h1, h2, h3, h4{color:$yellow;}
body{color:$yellow;}

/*FONTS*/

h1, h2, h3, h4{font-family: $headers;}
body{
    font-family: $body;
    font-weight: 100;
}

h1, h2 {font-weight: 700;}
h3 {font-weight: 400;}

/*SITE ID*/

.site-id h1{
    font-size: 2.5em;
    text-transform: uppercase;
}

.site-id h2 {
        font-size: 1em;
        font-weight: 100;
        text-transform: lowercase;
}

/*LINKS*/

a {
    color: $yellow;
    text-decoration: none;
}
a:visited {
    color: $yellow;
    text-decoration: none;
}